* {
    margin: 0;
}
#Portfolio summary {
    font-size: 1.4rem;
    padding-bottom: 10px;
}
#Portfolio .work {
    margin-top: 0;
    width: 70%;
}

#Portfolio img {
    margin: 5% 0;
    height: auto;
    width: 70%;
    max-width: 700px;
}

#Portfolio .report {
    font-size: 1.3rem;
    max-width: 500px;
    font-weight: 500;
    margin: auto auto auto 0;
}

@media (max-width: 767px) {
    .flex_row {
        flex-direction: column;
    }
    .flex_row img {
        width: 80% !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    #Portfolio .work {
        margin-top: 0;
        width: 100%;
    }

    img[src="/QiDemo.jpeg"] {
        margin-bottom: 2rem !important;
        margin-left: 10% !important;
    }

    #Portfolio .report {
        font-size: 1rem;
        font-weight: 400;
        margin: auto auto auto 0;
        width: 90%;
        text-align: center;
    }
}
