#Skills .grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    text-align: center;
}
#Skills tbody {
    display: table-row-group;
    vertical-align: middle;
}
#Skills .odd_row {
    background-color: rgba(0,119,190,0.5);
}
#Skills table {
    margin: 0 10% 2.5rem 10%;
    border-collapse: collapse;
    border-spacing: 0;
    width: 80%;
    text-align: center;

    overflow-y: hidden;
    overflow-x: scroll;
}
#Skills table td, table th {
    padding: 4px 4px;
    vertical-align: middle;
}
@media (max-width: 991px) {
    #Skills .last_row {
        grid-column: 1 / 3;
    }
    #Skills .grid {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 633px) {
    #Skills table {
        display: block;
    }
}

@media (max-width: 480px) {
    #Skills .wrapper {
        padding: 4% 0;
    }
    #Skills h1, #Skills h2 {
        margin-left: 5%;
    }
}